body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  font-size: 14px;
}

a:hover {
    border-bottom: 2px solid #55ACEE;
}

.navbar {
    display: flex;
    background-color: #08041e;
    width: 100%;
    height: 60px;
    justify-content: center;
    position:fixed;
    z-index: 500;
}

.navlogo {
    width: 200px;
    height: 200px;
   position: relative;
   bottom:75px;
    cursor: pointer;
}

.navlinks {
    display: flex;
    justify-content: center;
    margin-top: 3.2%;
    gap: 30px;
    margin-left: 100px;
    position: relative;
    bottom:30px;
}

.navbtns {
    display: flex;
    gap: 15px;
    margin-top: 2%;
    margin-left: 8%;
}

.navbtnanker {
    border-bottom: 0px;
}

.navbtnanker {
    border-bottom: 0px;
}

.navbtn1 {
    width: 90px;
    height: 30px;
    background-color: #245de7;
    color:white;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 300;
}
.navbtn1:hover,.navbtn2:hover {
    opacity: 0.8;   
}
.navbtn2 {
    width: 140px;
    height: 30px;
    background-color: #245de7;
    color:white;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    position: relative;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.heropage {
    width:1483px;
    height:800px;
    padding:2px;
    background: #f6f6f6;
}
.heropageh1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-align: center; 
    color:black;  
    margin-top: 6%;
}

/*thirdpage styles start*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 2%;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #55ACEE;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.learncategory {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color:blue;
}
.learndiv1img {
    width:455px;
    height:332px;
    border-radius: 20px;
}
.learnrow1div1h1 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    bottom:25px;
}
.learnrow1div1para {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    bottom:40px;
}
.learndiv2img {
    width:336px;
    height:147px;
    border-radius: 15px;
}
.learnrow1div2h1 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    bottom:15px;  
}
.learnrow1div2para {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    bottom:25px;  
}
.learnrow1 {
    display: flex;
}
.learnrow1column2 {
    margin-left: 2%;
    margin-top: 6.2%;
}
.learnrow1div1 {
    margin-left: 10%;
    margin-top: 2%;
}
.secondpage {
    width:1483px;
    height:900px;
    background-image: url("file:///C:/Users/MohammedAjmalIqbol/Documents/100dayprojectclonenew/mohammedajmal.iqbol__web_project-main/mohammedajmal.iqbol__web_project-main/assets/website%20images/bg_bggenerator_com%20(1).png");
}
.learnrow2div1category {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color:blue;
}
.learnrow2div1img {
    width:360px;
    height:218px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.learnrow2div1h1 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    bottom:5px;  
    margin-left: 10px;
}
.learnrow2div1para {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    bottom:10px;  
    margin-left: 10px;
}
.row2divletters {
    background-color: #f6f6f6;
    
    border-radius: 20px;
  height:380px;
}
.course1div {
    width:360px;
    height:218px;
    margin-top: 2%;
}
.course2div {
    width:360px;
    height:218px;
    margin-top: 6%;
}
.threecoursescontainer {
    display: flex;
    gap:40px;
    margin-left: 10%;
}
.threecoursescontainer2 {
    display: flex;
    gap:40px;
    margin-left: 10%;
    margin-top: 12%;    
}



/*footer styles start*/

.footer {
    background-color: #08041e;
    color: white;
    width: 100%;
    height: 100%;
  margin-top:10%;
}

.footerlogo {
    width: 250px;
    height: 250px;
    margin-top: 0px;
    margin-left: 130px;
    cursor: pointer;
}

.footerletters {
    width: 300px;
    height: 250px;
    margin-top: -50px;
    margin-left: 130px;
    cursor: pointer;
    opacity: 0.8;

}

/* socialmedia icon start*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    background-color: black;
    color: white;
    border-radius: 50%;

}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;

    border-radius: 50%;

}

.fa-instagram:hover {
    background: hotpink;
    color: white;
}

/* socialmedia icon end*/

.footercontainer {
    display: flex;
}

.footerpagelinks1,
.footerpagelinks2,
.footerpagelinks3,
.footerpagelinks4 {
    margin-left: 60px;
}

.footerlinkdiv {
    margin-top: 90px;
}

.footerpagelinks1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 320px;
    bottom: 150px;
}

.faq,
.privacypolicy,
.riskwarning {
    color: #0094ff;
    opacity: 0.7;
}

.faq:hover,
.privacypolicy:hover,
.riskwarning:hover {
    opacity: 1;
}
.footerheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/*footer styles end*/